<!DOCTYPE html>
<html lang="en" class="index">

<head>
    <!-- head.html -->
    <link rel="stylesheet" href="/_styles/index.css" />
    <script defer src="/_scripts/index.js"></script>
</head>

<body class="index__body">
    <header class="index__header">
        <form class="index__form" onsubmit="return false;">
            <label class="index__narrow-label">
                <input type="checkbox" name="hide-country-names-input" data-element="index.hide-country-names-input" />
                <span>Hide Country Names</span>
            </label>

            <label class="index__narrow-label">
                <input type="checkbox" name="show-dependent-countries-input" data-element="index.show-dependent-countries-input" />
                <span>Show Dependent Countries</span>
            </label>

            <label class="index__search-input-container">
                <input placeholder="Search..." type="text" class="index__search-input" data-element="index.search-input" />
                <button class="index__search-input-clear-button" data-element="index.search-input-clear-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </label>
        </form>
    </header>
    <main class="index__main SHOW-COUNTRY-NAMES">
        {{ content }}
    </main>
</body>

</html>