<!DOCTYPE html>
<html lang="en" class="index">

<head>
    <!-- head.html -->
    <link rel="stylesheet" href="/_styles/index.css" />
    <script defer src="/_scripts/index.js"></script>
</head>

<body class="index__body">
    <header class="index__header">
        <form class="index__form" onsubmit="return false;">
            <label class="index__narrow-label">
                <input type="checkbox" name="hide-country-names-input" data-element="index.hide-country-names-input" />
                <span>Hide Country Names</span>
            </label>

            <label class="index__narrow-label">
                <input type="checkbox" name="show-dependent-countries-input" data-element="index.show-dependent-countries-input" />
                <span>Show Dependent Countries</span>
            </label>

            <label>
                <input placeholder="Search..." type="text" class="index__search-input" data-element="index.search-input" />
            </label>
        </form>
    </header>
    <main class="index__main SHOW-COUNTRY-NAMES">
        {{ content }}
    </main>
</body>

</html>