<!DOCTYPE html>
<html lang="en" class="index">

<head>
    <!-- head.html -->
    <link rel="stylesheet" href="/_styles/index.css" />
    <script defer src="/_scripts/index.js"></script>
</head>

<body class="index__body">
    <header class="index__header">
        <form class="index__form">
            <input type="text" class="index__search-input" data-element="index.search-input" />
            <label>
                <input type="checkbox" name="independent-input" data-element="index.independent-input" checked />
                <span>Independent</span>
            </label>
            <label>
                <input type="checkbox" name="dependent-input" data-element="index.dependent-input" checked />
                <span>Dependent</span>
            </label>
            <label>
                <input type="checkbox" name="name-input" data-element="index.name-input" checked />
                <span>Names</span>
            </label>
        </form>
    </header>
    <main class="index__main">
        {{ content }}
    </main>
</body>

</html>