.country__flag {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border: 0;
    padding: 0;
}

.is-mobile .country__flag {
    width: 100%;
    overflow: hidden;
}

.is-desktop .country__flag {
    max-width: 480px;
    margin-top: 2em;
}

.country__name {
    font-size: 2.6em;
    margin: 1em 0 .3em;
    line-height: 1.1;
    text-align: center;
}

.is-mobile .country__name {
    font-size: 1.6em;
}

.country__data {
    padding: 0 6px 32px;
}

.country__data-item {
    display: flex;
}

.country__data-label {
    width: 48%;
    text-align: right;
    font-weight: 600;
    padding: .3em .3em;
    line-height: 1.1;
}

.country__data-value {
    width: 52%;
    text-align: left;
    padding: .3em .3em;
    line-height: 1.1;
}

.country__map {
    max-width: 768px;
    margin: 0 auto;
    padding: 2em;
    display: block;
    box-sizing: border-box;
}

.is-mobile .country__map {
    padding: 1em;
}
